*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background: #efefef;
    padding: 70px 10% 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}



.info{
    width: 33%;
}

.nav{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.redes{
    width: 28%;
    display: flex;
    flex-direction: column;
}

.redes iframe{
    width: 350px;
    height: 100px;
    border-radius: 20px;
    margin-left: -75px;
    margin-top: 15px;
    box-shadow: 2px 3px 5px black;

}

.info img{
    width: 35px;
    vertical-align: middle;
}

.info h2{
    display: inline-block;
    margin-left: 10px;
    font-size: 38px;
    color: #d48a2f;
    margin-bottom: 25px;
}

.info p{
    font-size: 18px;
    line-height: 1.7;
    max-width: 470px;
}

.nav h1{
    font-size: 42px;
    margin-bottom: 25px;
}

.nav a{
    display: block;
    margin-bottom: 18px;
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

.redes h1{
    font-size: 42px;
    margin-bottom: 20px;
}

.redes .iconos{
    display: flex;
    gap: 18px;
}

.redes img{
    width: 65px;
    height: 65px;
    padding: 18px;
    border-radius: 50%;
    background: #2f2f2f;
    object-fit: contain;
    opacity: 0.45;
    transition: 0.4s ease;
    cursor: pointer;
}

.redes img:hover{
    opacity: 1;
    background: #156ef5;
    transform: translateY(-6px) scale(1.08);
}
